[package]
name = "day02"
version.workspace = true
authors.workspace = true
description.workspace = true
edition.workspace = true

[dependencies]
anyhow = { workspace = true }
regex = { workspace = true }
